# Large model files
*.npz
*.pkl
*.pth
*.ckpt

# Output directories  
output/
logs/
checkpoints/
results/

# SMPL model files
smpl_model/
bins/
#point_interpolant/
PoissonRecon/
template/
# System files
.DS_Store
*.pyc
__pycache__
tmp